<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link href='{{ "/assets/open-sans.css" | relative_url }}' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/bootstrap-v3.3.7.min.css" | relative_url }}">
  <script src="{{ "/assets/jquery-v3.3.1.min.js" | relative_url }}"></script>
  <script src="{{ "assets/bootstrap-v3.3.7.min.js" | reltive_url }}"></script>
  {%- feed_meta -%}
</head>
